body {
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 240px;
}

#personBtn,
#shipBtn  {
    height: 200px;
    width: 200px;
    margin: 40px;
    cursor: pointer;
}

#personBtn:hover,
#shipBtn:hover {
    opacity: 0.7;
}

tbody, td, tfoot, th, thead, tr {
    color: #fff700;
}

tr {
    cursor: pointer;
}
 
tr:hover {
    background: rgba(255, 255, 255, 0.1);
}

.btn_wrap {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
}

.details {
    color: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid white;
}
 
.details_wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #111;
    padding: 20px;
    border-radius: 20px;
}
 
.details_wrapper p {
    width: 50%;
}
 
ul {
    padding: 0;
    list-style: none;
    width: 50%;
}
 
li {
    padding-left: 30px;
}
 
small {
    color: #fff700;
    margin-right: 10px;
}